.acc-container {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    border: 2px solid #006AFF;
    width: 450px;
    height: 575px;
    border-radius: 10px;
}

.acc-container input {
    margin-bottom: 50px;
    width: 288px;
    height: 40px;
    border-radius: 6px;
    border: 1.5px solid #006AFF;
    text-indent: 10px;
}

.acc-container button {
    margin-top: 25px;
    background-color: #006AFF;
    width: 125px;
    height: 40px;
    color: white;
    border-radius: 5px;
}

.acc-container p {
    margin-bottom: 50px;
    font-size: 16px;
}

.acc-container input:hover {
    border: 1px solid #006AFF;
}

.acc-container input:focus {
    border: none;
}