@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Roboto:wght@100;500;900&display=swap');

:root {
    --square-blue: "#006AFF";
}


.container {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 27%;
    margin: 25px 0px;
    padding: 45px 0px;
}

.login input {
    border: 1px solid black;
    margin: 50px 0px;
    width: 275px;
    height: 40px;
    border-radius: 6px;
}

.login button {
    background-color: #006AFF;
    color: white;
    width: 125px;
    height: 40px;
    border-radius: 5px;
    margin: 65px 0px;
}

.login button:hover {
    background-color: #006AFF;
    color: white;
}

.login a {
    margin: 25px 0px;
    color: #1A73E8;
}

.password-span {
    display: flex;
    flex-direction: column;
}

.password-span a {
    margin: 8px 0px;
    align-self: flex-end;
}

.password-span input {
    margin-top: 20px;
    margin-bottom: 0px;
}

a:hover {
    text-decoration: underline;
}